<footer>
    <div class="contact" id="contact1">
        <div id="Contacts"></div>
        <div class="contact__head">
            <h2>Contacts</h2>
        </div>
        <div class="contact__info">
            <div class="contact__info_text">
                Positive pleasure-oriented goals are much more powerful motivators than negative fear-based ones.
            </div>
            <div class="contact__info_link">
                <a href="#" target="_blank"><span class="icon ed-tl"></span></a>
                <a href="#" target="_blank"><span class="icon ed-fb"></span></a>
                <a href="#" target="_blank"><span class="icon ed-in"></span></a>
            </div>
        </div>
        <div class="contact__form">
<!--            <form onsubmit="return validate();">-->
            <form action="#">
                <div class="form-group-line">
                    <label class="form-label" for="in_name">Name</label>
                    <input type="text" class="form-input" id="in_name" placeholder="Incognito">
                </div>
                <div class="form-group-line">
                    <label class="form-label" for="in_email">E-mail</label>
                    <input type="text" class="form-input" id="in_email"  placeholder="incognito@gmail.com">
                    <div id="emailf"></div>
                </div>

                <div class="form-group-line">
                    <label class="form-label" for="message">Message</label>
                    <textarea class="form-input" id="message" rows="3" placeholder="Your question or suggestion"></textarea>
                </div>
                <button type="submit" class="button-form">
                    <span class="icon ed-tl"></span>
                </button>
            </form>
        </div>
    </div>
    <div class="copyright">
        <div class="copyright__text">
            Copyright &copy; 2020 Denis Abdullin – deab.ru
        </div>
        <div class="copyright__link">
            <a href="#">Invoicing</a>
            <a href="#">Documents</a>
        </div>
    </div>
    <div class="b-popup" id="popup">
        <div class="b-popup-content">
            Text in Popup

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div>

<!--    <div id="my-alert" class="alert alert-info hide" style="overflow:hidden;">-->
<!--        <p style="margin-bottom: 24px;">Информационное сообщение (alert), которое можно закрыть!</p>-->

<!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--    </div>-->
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="js/query-3.5.1.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>